.information {
	height: 200px;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		width: 450px;
		height: 100%;

		& .icon {
			border: none;
			border-bottom: 1px solid black;
			display: flex;
			justify-content: center;
		}

		& .info {
			height: 40px;
			display: flex;
			align-items: center;

			& ul {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				& li {
					font-size: 1.2em;

					@media (max-width: 450px) {
						font-size: 1em;
					}

					@media (max-width: 400px) {
						font-size: 0.8em;
					}

					& .nubosidad {
						width: 45px;
						height: 22px;
						line-height: 22px;
						text-align: center;
						border-radius: 3px;
						color: white;

						@media (max-width: 400px) {
							width: 36px;
							height: 20px;
							line-height: 20px;
						}
					}

					& .blue {
						background-color: #0d74d4;
					}

					& .black {
						background-color: black;
					}
				}
			}
		}
	}
}
